@use './assets/styles/_reset';
@use './assets/styles/_typography.scss';
@use './assets/styles/colors';
@use './assets/styles/functions';

.App {
  isolation: isolate;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: titleFont;
}

h1 {
  color: colors.$primary-blue;
  margin-top: functions.space(2);
}

i {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.container {
  max-width: 80%;
  margin: auto;
}
